.cl1 {
  color: white;
  background-color: #ba66ff;
  font-size: 16pt;
}
.cl2 {
  color: blue;
  font-size: 14pt;
  font-style: italic;
  
}
.cl3 {
  color: #78dbe2;
  font-size: 20pt;
  font-weight: bold;
}